:before {
	color: white;
	display: block;
}

#player {
	z-index: 1000;
    position: fixed;
    height: 50px;
    background-color: #000;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

body {
    margin-bottom:50px;
    height: 100%;
}

.playerControls {
	display: flex;
	top: 15px;
}

.pause {
	background: red;
	width: 5px;
	height: 20px;
	position: relative;
}

.pause::after {
    background: red;
    content: "";
    height: 20px;
    width: 5px;
    margin-left: 5px;
    bottom: 0px;
    position: absolute;
}

.stop {
	width: 20px;
	height: 20px;
	background: red;
}


.play {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid red;
	border-bottom: 10px solid transparent;
}

.next {
	width: 0;
	height: 0;
	bottom: -10px;
	border-top: 10px solid transparent;
	border-left: 20px solid red;
	border-bottom: 10px solid transparent;
}

.previous {
	width: 0;
	height: 0;
	bottom: -10px;
	border-top: 10px solid transparent;
	border-right: 20px solid red;
	border-bottom: 10px solid transparent;
}

.next::after {
    background: red;
    content: "";
    height: 20px;
    width: 5px;
    bottom: 0px;
    position: absolute;
}

.previous::before {
    background: red;
    content: "";
    height: 20px;
    width: 5px;
    left: 10px;
    bottom: 0px;
    position: absolute;
}

.playerSeek {
	display: flex;
	/*top: 35px;*/
	background: rgba(255, 255, 255, 0.5);
	padding-left: 0px;
	padding-right: 0px;
}

.playerHandle {
	border: 1px solid #f50;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: #f50;
    box-sizing: border-box;
    margin-top: -4px;
    margin-left: -4px;
    opacity: 0;
    transition: opacity 150ms;
}

.button-space {
	margin-right: 10px;
}

button {
	background: RGBA(0,0,0,0);
	border: 10px;
	-moz-border-radius: 5px;
	border-radius: 0px;
	bottom: 0px;
	padding: 0px;
	/*position: absolute;*/
	/*width: px; */
}

#audioStop {
font-size: 22px;
left: 65px;
line-height: 11px;
}

#audioPlay.hidden,
#audioPause.hidden { display:none; }
#audioSeek {
background: #E7E7E7;
padding: 0;
/*display: block;*/
height: 5px;
}

#audioLoaded {
background: white;
display: block;
top: 1px;
position: relative;
height: 3px;
}

#audioElapsed {
	position: relative;
	top: 15px;
	color: white;
}